/* Fix map background */
.leaflet-container {
    @apply !bg-inherit;
}

/* Fix the map images from being grainy */
.leaflet-container img.leaflet-image-layer {
    image-rendering: pixelated;
}

/* Remove weird default marker behaviour */
.leaflet-marker-icon {
    @apply !bg-transparent !border-0;
}

/* Remove weird default popup behaviour  */
.leaflet-popup-content-wrapper {
    @apply bg-white dark:bg-black text-black dark:text-white !important;
}
.leaflet-popup-tip {
    @apply bg-white dark:bg-black !important;
}
