@tailwind base;
@tailwind components;
@tailwind utilities;


/* Fonts */
@font-face {
    font-family: "Minecraft";
    src: url("/fonts/minecraft-font/MinecraftRegular.otf");
}
@font-face {
    font-family: "Open Sans";
    src: url("/fonts/Open_Sans/static/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "Open Sans";
    font-weight: bold;
    src: url("/fonts/Open_Sans/static/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/static/Inter-Regular.ttf");
}
@font-face {
    font-family: "Inter";
    font-weight: bold;
    src: url("/fonts/Inter/static/Inter-Bold.ttf");
}


body {
    @apply bg-white dark:bg-slate-950 text-black dark:text-white;
}


h1, h2, h3, h4, h5, h6 {
    @apply mt-8;
}
ul, ol, p, table {
    @apply my-4;
}


h1, h2, h3, h4, h5, h6 {
    @apply font-header font-bold;
}
h1 {
    @apply text-5xl;
}
h2 {
    @apply text-4xl;
}
h3 {
    @apply text-3xl;
}
h4 {
    @apply text-2xl;
}
h5 {
    @apply text-xl;
}
h6 {
    @apply text-lg;
}
p a {
    @apply focus:underline hover:underline;
}
p a:not(.no-link-styling) {
    @apply text-sky-500;
}
p img {
    @apply inline;
}

blockquote {
    @apply text-zinc-400 border-l border-zinc-400 ml-4 md:ml-8 my-1 pl-4;
}

code {
    @apply bg-zinc-100 dark:bg-zinc-800 text-red-500 dark:text-red-400 px-1 rounded-sm;
}


ul {
    @apply list-disc;
}
ol {
    @apply list-decimal;
}
li {
    @apply ml-8 md:ml-12 my-2;
}

table {
    @apply w-3/4 m-auto;
}
tbody tr {
    @apply border-t border-zinc-300 dark:border-zinc-600 odd:bg-zinc-50 dark:odd:bg-zinc-800;
}


/* Fix map background */
.leaflet-container {
    @apply !bg-inherit;
}
/* Fix the map images from being grainy */
.leaflet-container img.leaflet-image-layer {
    image-rendering: pixelated;
}
/* Remove weird default marker behaviour */
.leaflet-marker-icon {
    @apply !bg-transparent !border-0;
}
/* Remove weird default popup behaviour  */
.leaflet-popup-content-wrapper {
    @apply bg-white dark:bg-black text-black dark:text-white !important;
}
.leaflet-popup-tip {
    @apply bg-white dark:bg-black !important;
}
