.PhotoGallery-container {
    @apply w-full grid grid-cols-1 xs:grid-cols-2 gap-2 px-8 py-2;
}
.PhotoGallery-container > * {
    @apply w-full m-auto;
}
.PhotoGallery-container > *:nth-child(odd):last-child {
    @apply xs:translate-x-1/2;
}
